# REQUIREMENTS FOR CONDA INSTALLATION

# INSTALLATION REQUIRED DEPENDENCIES
descartes
matplotlib <2
networkx >=2.0
numpy
pandas
pypower >=5.1.4
scipy
shapely

# TEST DEPENDENCIES
pytest-cov
pytest-mock
openpyxl
xlrd
xlwt

